@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: hsl(233, 47%, 7%);
}

#card {
  background-color: hsl(244, 38%, 16%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-family: Inter;
  align-content: center;
  margin-bottom: 50px;
  margin-top: 100px;
  width: 1000px;
  height: auto;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

span {
  color: hsl(277, 64%, 61%);
}

#insights {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 70px;
}

p {
  flex-wrap: wrap;
  color: hsla(0, 0%, 100%, 0.75);
}

table {
  margin-top: 50px;
}
#tr1 {
  font-family: "Lexend Deca";
  font-size: 19px;
}

#tr2 {
  font-family: "Lexend Deca";
  color: hsla(0, 0%, 100%, 0.75);
  text-transform: uppercase;
  font-size: 10px;
}

#photo {
  display: flex;
  background-image: url(image-header-desktop.jpg);
  height: 430px;
  background-repeat: no-repeat;
  width: 70%;
  border-radius: 0px 15px 15px 0px;
}
#photo::before {
  content: "";
  background-color: #aa5cdb;
  opacity: 0.5;
  width: 100%;
  border-radius: 0px 15px 15px 0px;
}
